.shiba{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header {
    text-align: center;
    margin-top: 0px;
    background-image: url("./img/header.png");
}

.clicks{
    position: fixed;
    left: 50%;
    bottom: 23%;
    transform: translate(-50%, -50%);
}

